In [57]:
import pandas as pd
import numpy as np
import os
import shutil
import statistics
import math
import matplotlib.pyplot as plt
from scipy.signal import savgol_filter
import movieslib as mov

import importlib
importlib.reload(movieslib)

In [58]:
FOLDER_INPUT = './12movies_cuts/'
FOLDER_OUTPUT = './extr_stat'

df = pd.read_csv("./12movies_cuts/ClickHM.csv", delimiter=',')
start = 0
df[start:start+10]

,Unnamed: 0,frame,face_id,timestamp,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,...,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26_r,AU45_r
0,0,3577,0.0,149.149,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.58,0.0,0.0,0.00,0.0,0.0,0.0,0.0
1,1,3578,0.0,149.191,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.82,0.0,0.0,0.00,0.0,0.0,0.0,0.0
2,2,3579,0.0,149.233,0.20,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.52,0.0,0.0,0.10,0.0,0.0,0.0,0.0
3,3,3580,0.0,149.274,0.41,0.10,0.0,0.0,0.0,0.0,...,0.0,0.0,0.48,0.0,0.0,0.30,0.0,0.0,0.0,0.0
4,4,3581,0.0,149.316,0.43,0.15,0.0,0.0,0.0,0.0,...,0.0,0.0,0.38,0.0,0.0,0.32,0.0,0.0,0.0,0.0
5,5,3582,0.0,149.358,0.41,0.04,0.0,0.0,0.0,0.0,...,0.0,0.0,0.24,0.0,0.0,0.45,0.0,0.0,0.0,0.0
6,6,3583,0.0,149.399,0.49,0.08,0.0,0.0,0.0,0.0,...,0.0,0.0,0.33,0.0,0.0,0.24,0.0,0.0,0.0,0.0
7,7,3584,0.0,149.441,0.47,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.60,0.0,0.0,0.19,0.0,0.0,0.0,0.0
8,8,3585,0.0,149.483,0.53,0.06,0.0,0.0,0.0,0.0,...,0.0,0.0,0.44,0.0,0.0,0.25,0.0,0.0,0.0,0.0
9,9,3586,0.0,149.525,0.53,0.09,0.0,0.0,0.0,0.0,...,0.0,0.0,0.54,0.0,0.0,0.04,0.0,0.0,0.0,0.0

In [59]:
#Sequence of the actions
# 
# 0. upload datasets
# 1. Separate 'keira knightley' shoots 
#2. Filter the data (AU_r columns)
#3. Calculate stats: -for each line; for each frame
# Output:  a dataframe with mean values of extracted features for each frame in each video
            #-the dataframes of all videos with extracted features for each line
            #a dataframe with average for the whole video (later)

In [60]:
filenames = mov.get_filenames(FOLDER_INPUT, file='M')
filenames

['MonsterInLawHM.csv',
 'QuantumOfSolaceHM.csv',
 'CleanAM.csv',
 'SynecdocheAM.csv',
 'BrightStarAM.csv',
 'ClickHM.csv',
 'CertifiedCopyAM.csv',
 'SpiderAM.csv',
 'AllOrNothingAM.csv',
 'PiratesOfCaribbeanHM.csv',
 'TheDarkKnightHM.csv',
 'FastAndFuriousHM.csv']

In [61]:
#upload statistics

OUTPUT = './featur_stat_lines_filtered' #create a new folder (rewrite!)
mov.new_folder(OUTPUT)

output = pd.DataFrame(columns=['movie', 'face_id', 'time', 'eyes_mean', 'eyes_SD', 'midpart_mean', 'midpart_SD',
    'mouth_mean', 'mouth_SD', 'eyes_d_mean', 'eyes_d_SD', 'midpart_d_mean', 'midpart_d_SD', 'mouth_d_mean', 'mouth_d_SD'])

head = True

for i in filenames:
    name = i.split('.')[0][:-2]
    print('Prosess file', name, '...')
    df = pd.read_csv(FOLDER_INPUT + i, delimiter=',')
    print('ok reading csv...')

    df_filtered = mov.sg_filter(df) #filter AUs

    stat = mov.stat(df_filtered, name) #obtained statistics

    pd.DataFrame.from_dict(stat).to_csv(f'./{OUTPUT}/{name}.csv', sep=',', header=True, mode='w') #write logs for each file

    pd.DataFrame.from_dict(stat).to_csv(f'./{OUTPUT}/All_movies.csv', sep=',', header=head, mode='a') #write all logs in one file

    if head:
        head = False

Prosess file MonsterInLaw ...
ok reading csv...
Prosess file QuantumOfSolace ...
ok reading csv...
Prosess file Clean ...
ok reading csv...
Prosess file Synecdoche ...
ok reading csv...
Prosess file BrightStar ...
ok reading csv...
Prosess file Click ...
ok reading csv...
Prosess file CertifiedCopy ...
ok reading csv...
Prosess file Spider ...
ok reading csv...
Prosess file AllOrNothing ...
ok reading csv...
Prosess file PiratesOfCaribbean ...
ok reading csv...
Prosess file TheDarkKnight ...
ok reading csv...
Prosess file FastAndFurious ...
ok reading csv...

In [ ]:
#get statistics on every file

In [74]:
HM = ['MonsterInLaw', 'QuantumOfSolace', 'Click', 'PiratesOfCaribbean', 'TheDarkKnight', 'FastAndFurious']
AM = ['Clean', 'Synecdoche', 'BrightStar', 'CertifiedCopy', 'Spider', 'AllOrNothing']

COLS=['movie', 'face_id', 'time', 'eyes_mean', 'eyes_SD', 'midpart_mean', 'midpart_SD',
    'mouth_mean', 'mouth_SD', 'eyes_d_mean', 'eyes_d_SD', 'midpart_d_mean', 'midpart_d_SD', 'mouth_d_mean', 'mouth_d_SD']

In [75]:
df = pd.read_csv(f'./{OUTPUT}/All_movies.csv', sep=',')

In [64]:
outputHM = pd.DataFrame(columns=COLS)

for i in HM:
    outputHM = pd.concat([outputHM, df[df['movie'] == i]]) #select rows with a particular face_id

In [76]:
outputAM = pd.DataFrame(columns=COLS)

for i in AM:
    outputAM = pd.concat([outputAM, df[df['movie'] == i]]) #select rows with a particular face_id

In [78]:
list(outputAM.movie.unique())

['Clean',
 'Synecdoche',
 'BrightStar',
 'CertifiedCopy',
 'Spider',
 'AllOrNothing']

In [67]:
hm = outputHM.mean()
am = outputAM.mean()

print(hm)
print(am)

face_id           139.216729
time                4.779409
eyes_mean                NaN
eyes_SD                  NaN
midpart_mean             NaN
midpart_SD               NaN
mouth_mean               NaN
mouth_SD                 NaN
eyes_d_mean              NaN
eyes_d_SD                NaN
midpart_d_mean           NaN
midpart_d_SD             NaN
mouth_d_mean             NaN
mouth_d_SD               NaN
Unnamed: 0        142.206468
dtype: float64
face_id           180.763436
time                7.075396
eyes_mean                NaN
eyes_SD                  NaN
midpart_mean             NaN
midpart_SD               NaN
mouth_mean               NaN
mouth_SD                 NaN
eyes_d_mean              NaN
eyes_d_SD                NaN
midpart_d_mean           NaN
midpart_d_SD             NaN
mouth_d_mean             NaN
mouth_d_SD               NaN
Unnamed: 0        193.135300
dtype: float64

/var/folders/63/bs2t6x0j25s1wrgwd4kwyzzr0000gn/T/ipykernel_88072/1564161163.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  hm = outputHM.mean()
/var/folders/63/bs2t6x0j25s1wrgwd4kwyzzr0000gn/T/ipykernel_88072/1564161163.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  am = outputAM.mean()

In [68]:
output = pd.DataFrame(columns=['movie', 'face_id', 'time', 'eyes_mean', 'eyes_SD', 'midpart_mean', 'midpart_SD',
    'mouth_mean', 'mouth_SD', 'eyes_d_mean', 'eyes_d_SD', 'midpart_d_mean', 'midpart_d_SD', 'mouth_d_mean', 'mouth_d_SD'])

In [69]:
output = output.append(list([hm, am]))
#output.append(list([am]))

/var/folders/63/bs2t6x0j25s1wrgwd4kwyzzr0000gn/T/ipykernel_88072/1369639925.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(list([hm, am]))

In [70]:
len(output)

2

In [71]:
output['movie'].loc[output['time'] == 4.779409]['movie'] = 'Hollywood'
output.loc[output['time'] == 7.075396]['movie'] = 'Art'

In [72]:
output

,movie,face_id,time,eyes_mean,eyes_SD,midpart_mean,midpart_SD,mouth_mean,mouth_SD,eyes_d_mean,eyes_d_SD,midpart_d_mean,midpart_d_SD,mouth_d_mean,mouth_d_SD,Unnamed: 0
0,NaN,139.216729,4.779409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142.206468
1,NaN,180.763436,7.075396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.135300

In [73]:
pd.DataFrame.from_dict(output).to_csv(f'./{OUTPUT}/summary_stat.csv', sep=',', header=True, mode='w') #write all logs in one file